// VARIABLES
// FONTS
$regular: "Montserrat-Regular";
$medium: "Montserrat-Medium";
$semibold: "Montserrat-SemiBold";
$bold: "Montserrat-Bold";
$extrabold: "Montserrat-ExtraBold";

//COLORS
$color-dark-1: #131918;
$color-dark-2: #0e0504;
$color-white-1: #fefefe;
$color-white-2: #e8e4e1;

$color-gray-1: #63707e;

$color-primary-1: #dca57d;
$color-primary-2: #794028;
